.videoAndDescription {
	display: flex;
	flex-direction: column;
	width: 70%;
	color: white;
	flex-shrink: 0;
}

.container {
	padding-top: 56.25%;

	position: relative;
	margin-top: 0.1rem;
}

.videoPlayer {
	position: absolute;
	top: 0;
}

@media screen and (max-width: 65rem) {
	.videoAndDescription {
		flex-shrink: 1;
		width: 100%;
	}
}
