.header {
	background-color: rgb(34, 34, 34);
	color: white;
	display: flex;
	height: 3rem;
	padding: 0.5rem 2rem;
	width: 100%;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	margin-right: 0.5rem;
	/* font-weight: bold; */
	width: 8rem;
}

.logo:hover {
	cursor: pointer;
}

.logo img {
	width: 2rem;
	margin-right: 0.4rem;
}

.search {
	display: flex;
}

.input {
	width: 30rem;
	outline: none;
	border: solid 0.01rem rgb(122, 121, 121);
	padding: 0rem 0.5rem;
	font-size: 1rem;
	background-color: black;
	color: white;
}

.button {
	width: 3rem;
	background-color: rgb(122, 121, 121);
	border: none;
	outline: none;
	transition: transform 100ms ease-in;
	padding: 0.6rem;
}

.button:hover {
	cursor: pointer;
	transform: scale(1.03);
}

.button img {
	height: 100%;
	/* width: 100%; */
}

.sideMenu {
	width: 8rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 0.9rem;
}
