.videoList {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	margin: 1rem 0rem;
	justify-content: space-between;
}

.vertical {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
